version: '3.8'

services:
  # PostgreSQL Database for User Service
  postgres-user:
    image: postgres:15-alpine
    container_name: postgres-user
    environment:
      POSTGRES_DB: userservice_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    ports:
      - "5433:5432"
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    networks:
      - bookmyshow-network

networks:
  bookmyshow-network:
    driver: bridge

volumes:
  postgres_user_data: